.hero-container {
    position: relative;
    height: 600px;
    width: 100vw;
    background-image: url('https://images.unsplash.com/photo-1607860108855-64acf2078ed9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;        
  }
  
  .hero-container::before {    
    position: absolute;
    top: 4;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .hero-content {
    position: relative;
    text-align: center;
    z-index: 1;
    width: 100vw;
  }
  
  .hero-content h1 {
    font-size: 4rem;
    margin-bottom: 8rem;
    font-weight: 500;
  }
  
  .hero-content p {
    font-size: 1.5rem;
    margin-bottom: 9rem;
  }
  
  .cta-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #dde021;
  }
  
  @media (max-width: 500px) {
    .hero-container {
      height: 500px;
    }
  
    .hero-content h1 {
      font-size: 1rem;
    }
  
    .hero-content p {
      font-size: 1.2rem;
    }
  } 