.header {
    padding: 0;
    background-color: #252424;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    justify-content: end;
    width: 100%;

}

.title {
    text-align: center;
    padding: 1rem;
    color: #ffffff;
    margin: 0;
}

nav {
    padding: 0.5rem 1rem;
    background-color: #0d73d8;
    border-bottom: 1px solid #dee2e6;
    justify-content: start;

}

.listh {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
    
}

.listh li a {
    text-decoration: bold;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

.listh li a:hover {
    color: #c9cc16;
}
